@font-face
  font-family 'MyFont'
  src url('./my-font.woff') format('woff')
  fonu-weight 600
  font-style normal
.hello
  color red
  font-family 'MyFont'
  background url './icon.png'
border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments
body
  font 12px Helvetica, Arial, sans-serif
a.button
  border-radius 5px
  body, html
    margin 0
    padding 0